


/* Estilos para el Banner*/

.slider-section {
  text-align: center;
  padding: 20px;
  position: relative; /* Posicionar los botones de control */
}

.slider-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
}

.slider-container {
  position: relative;
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0 0 0 / 18%);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


/* Estilos para la Sección de las Categorías*/

.categories-section {
  text-align: left;
  padding: 20px;
}
.categories-section h2 {
  font-size: 24px;
  text-align: left;
  padding: 20px;
}

.categories-container {
  display: flex; /* Mostrar las categorías en fila */
  flex-wrap: wrap; /* Permitir que las categorías se rompan en varias filas si es necesario */
  justify-content: center; /* Centrar las categorías horizontalmente */
  width: 90%; /* Ocupar el 90% del ancho disponible */
  margin: 0 auto; /* Centrar el contenedor */
}

.category {
  width: 200px; /* Ajustar el ancho según sea necesario */
  margin: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer; /* Indicar que es un elemento clickable */
}

.category a {
  text-decoration: none;
  color: black;
}

.category img {
  width: 100%;
  height: 180px; 
  object-fit: cover;
  border-radius: 10px 10px 0 0; 
} 

.category:hover {
  transform: scale(1.2);
}

.category span {
  width: 100%;
  height: 80px; /* Ajustar la altura según la imagen */
  padding-top:20px;
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Redondear la parte superior */
}


.category h3 {
  font-size: 18px;
  margin: 10px 0;
}

/* Estilos responsivos (media queries) */

@media (max-width: 768px) {
  .category {
    width: 50%; /* Ocupar el 50% del ancho en pantallas pequeñas */
    margin-bottom: 20px; /* Añadir espacio entre las categorías */
  }
}

@media (max-width: 480px) {
  .category {
    width: 100%; /* Ocupar todo el ancho en pantallas muy pequeñas */
  }
}


/*Estilos para la Sección de Productos*/

 *{
  box-sizing: border-box;
} 

.products-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}

.products-section h2{
  width: 100%;
  /* color: #999; */
  font-size: 24px;
  text-align: left;
  padding: 20px;
}

/* .product-card{
  width: 33.333333%;
} */

.product-card{
  /* font-family: sans-serif; */
  width: 450px;
  margin: 20px;
}
.product-card .product-img{
  overflow: hidden;
  height: 450px;
  position: relative;
  border-radius: 15px;
}
.product-card .product-img img{
  width: 100%;
  position: absolute;
  transition: all 0.5s;
}
.product-card:hover .product-img img{
  transform: scale(1.2);
}
.product-card .product-img .promo{
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
  background: rgb(255, 115, 0);
  padding: 15px;
  color: white;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.product-card .product-info{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.product-card .product-info h3{
  margin: 0;
}
.product-card .product-info h3,
.product-card .product-info strong,
.product-card .product-info span{
  padding: 5px 15px;
  width: 100%;
}
.product-card .add-cart{
  margin-top: 2px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
}
.product-card .add-cart:hover{
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

  /* Estilos responsivos (media queries) */

@media (max-width: 768px) {
  .product-card {
    flex-direction: column; /* Mostrar las cards en una sola columna */
  }
}


/* Estilos para la Sección del Footer*/

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer-col {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-col ul {
    list-style: none;
    padding: 0;
  }

  .footer-col li {
    margin-bottom: 10px;
  }

  .footer-col a {
    text-decoration: none;
    color: #fff;
  }

  .social-media li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-media i {
    font-size: 20px;
  }

  /* Estilos responsivos (media queries) */

  @media (max-width: 768px) {
    .footer-col {
      flex: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
      margin-bottom: 0;
    }
  }


 

  /* Estilos para las Fuentes */

  .open-sans-principal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }


/* Estilos de los tamaños de iconos */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.soft-grey { color: #a3a2a1; }

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }
.material-symbols-outlined.md-60 { font-size: 60px; }
.material-symbols-outlined.soft-grey { color: #a3a2a1; }

