body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e9ebe5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 80px;
  height: 80px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.user-actions {
  display: flex;
  align-items: center;
}

.welcome-message {
  font-size: 20px;
  margin: 0 10px; /* Ajusta el margen */
  font-weight: bold;
}

.logout-button {
  padding: 10px 15px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #ff1a1a;
}

/* Estilos responsivos (media queries) */

@media (max-width: 768px) {
  .welcome-message {
      font-size: 16px;
      margin: 0 5px; /* Ajusta el margen */
  }

  .logout-button {
      font-size: 14px;
      padding: 8px 12px;
  }
}